@page "/cart"    
@using Gujjar.Shared;
@inject HttpClient Http;
<!-- Cart Items -->
<div class="container cart">
    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
        @for (int i = 0; i < 5; i++)
        {
            string imagePath = $"./images/pro{i + 1}.jpg";

            <tr>
                <td>
                    <div class="cart-info">
                        <img src="@imagePath" alt="" />
                        <div>
                            <p>WOMEN'S WEAR</p>

                            <span>Price: $@price[i]</span> <br />
                            <a href="#">remove</a>
                        </div>
                    </div>
                </td>
                <td><input @bind-value="quantity[i]" type="number" min="0" /></td>
                <td>@(price[i] * quantity[i])</td>
            </tr>
            @(sutotal = sutotal + (price[i] * quantity[i]));
        }
        @*<tr>
            <td>
                <div class="cart-info">
                    <img src="./images/pro8.jpg" alt="" />
                    <div>
                        <p>WOMEN'S WEAR</p>
                        <span>Price: $50.00</span> <br />
                        <a href="#">remove</a>
                    </div>
                </div>
            </td>
            <td><input type="number" value="0" min="0" /></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <div class="cart-info">
                    <img src="./images/pro2.jpg" alt="" />
                    <div>
                        <p>MEN'S WEAR</p>
                        <span>Price: $90.00</span> <br />
                        <a href="#">remove</a>
                    </div>
                </div>
            </td>
            <td><input type="number" value="0" min="0" /></td>
            <td>$90.00</td>
        </tr>
        <tr>
            <td>
                <div class="cart-info">
                    <img src="./images/pro3.jpg" alt="" />
                    <div>
                        <p>MEN'S WEAR</p>
                        <span>Price: $60.00</span> <br />
                        <a href="#">remove</a>
                    </div>
                </div>
            </td>
            <td><input type="number" value="0" min="0" /></td>
            <td>$60.00</td>
        </tr>
        <tr>
            <td>
                <div class="cart-info">
                    <img src="./images/pro10.jpg" alt="" />
                    <div>
                        <p>WOMEN'S WEAR</p>
                        <span>Price: $60.00</span> <br />
                        <a href="#">remove</a>
                    </div>
                </div>
            </td>
            <td><input type="number" value="0" min="0" /></td>
            <td>$60.00</td>
        </tr>
        <tr>
            <td>
                <div class="cart-info">
                    <img src="./images/pro11.jpg" alt="" />
                    <div>
                        <p>WOMEN'S WEAR</p>
                        <span>Price: $60.00</span> <br />
                        <a href="#">remove</a>
                    </div>
                </div>
            </td>
            <td><input type="number" value="0" min="0" /></td>
            <td>$60.00</td>
        </tr>*@
    </table>


    <div class="total-price">
        <table>
                <tr>
                <td>Subtotal</td>
                <td>$ @sutotal</td>
            </tr>
            <tr>
                <td>Tax</td>
                <td>$ @(Tax = sutotal / 10) </td>
            </tr>
            <tr>
                <td>Total</td>
                <td>$ @(Total = Tax+ sutotal)</td>
            </tr>
        </table>
        <a href="#" onclick="@save" class="checkout btn">Proceed To Checkout</a>
    </div>
</div>
<h1>@message</h1>
<!-- Latest Products -->
<section class="section featured">
    <div class="top container">
        <h1>Latest Products</h1>
        <a href="#" class="view-more">View more</a>
    </div>
    <div class="product-center container">
        <div class="product-item">
            <div class="overlay">
                <a href="" class="product-thumb">
                    <img src="./images/pro12.jpg" alt="" />
                </a>
            </div>
            <div class="product-info">
                <span>MEN'S CLOTHES</span>
                <h4>$150</h4>
            </div>
            <ul class="icons">
                <li><i class="bx bx-heart"></i></li>
                <li><i class="bx bx-cart"></i></li>
            </ul>
        </div>
        <div class="product-item">
            <div class="overlay">
                <a href="" class="product-thumb">
                    <img src="./images/pro22.jpg" alt="" />
                </a>
            </div>
            <div class="product-info">
                <span>MEN'S CLOTHES</span>
                <h4>$150</h4>
            </div>
            <ul class="icons">
                <li><i class="bx bx-heart"></i></li>
                <li><i class="bx bx-cart"></i></li>
            </ul>
        </div>
        <div class="product-item">
            <div class="overlay">
                <a href="" class="product-thumb">
                    <img src="./images/pro20.jpg" alt="" />
                </a>
            </div>
            <div class="product-info">
                <span>MEN'S CLOTHES</span>
                <h4>$150</h4>
            </div>
            <ul class="icons">
                <li><i class="bx bx-heart"></i></li>
                <li><i class="bx bx-cart"></i></li>
            </ul>
        </div>
        <div class="product-item">
            <div class="overlay">
                <a href="" class="product-thumb">
                    <img src="./images/pro7.jpg" alt="" />
                </a>
            </div>
            <div class="product-info">
                <span>MEN'S CLOTHES</span>
                <h4>$150</h4>
            </div>
            <ul class="icons">
                <li><i class="bx bx-heart"></i></li>
                <li><i class="bx bx-cart"></i></li>
            </ul>
        </div>
    </div>
</section>

@code{
    int sutotal = 0;
    int Tax = 0;
    int Total = 0;
    int[] price = { 10, 20, 30, 40, 50 };
    int[] quantity = { 1, 2, 3, 4, 5 };
    int[] subtotal = new int[5];
    Bills obj = new Bills();
    string message = "";
    async void save()
    {
        obj.subtotal = sutotal;
        obj.total = Total;
        obj.tax = Tax;
        var responce = await Http.PostAsJsonAsync<Bills>("api/Bills", obj);
        if (responce.IsSuccessStatusCode)
        {
            message = "Saved";
        }
        else
        {
            message = "Failed";
        }
        StateHasChanged();
    }
}